@using Object.Data.Enum
@using Object.ViewModel
@model CreateClubViewModel;

<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Title">
    </div>
    <div class="form-group">
        <label asp-for="Description" for="Description">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description">
    </div>
    <div class="form-group">
        <label asp-for="Address.Street" for="Address">Street</label>
        <input asp-for="Address.Street" type="text" class="form-control" id="Address.Street" placeholder="Street">
    </div>
    <div class="form-group">
        <label asp-for="Address.State" for="State">State</label>
        <input asp-for="Address.State" type="text" class="form-control" id="Address.State" placeholder="State">
    </div>
    <div class="form-group">
        <label asp-for="Address.City" for="City">City</label>
        <input asp-for="Address.City" type="text" class="form-control" id="Address.City" placeholder="City">
    </div>
    <div class="form-group">
        <label asp-for="ClubCategory" for="ClubCategory">ClubCategory</label>
        <select asp-for="ClubCategory" asp-items="@(Html.GetEnumSelectList<ClubCategory>())" class="form-control">
            <option>--Select--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Image" for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" id="Image" placeholder="Image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
